main {
    background-color: #4C3957 !important;
    padding: 10px !important;
    border-radius: 5px !important;
}

.logo__text {
    font-size: 2rem;
}

.header{
    background-color: #4C3957 !important;
    color: #fff;
}

.menu a {
    background-color: #79B473;
    color: #fff;
    padding: .5em;
    border-radius: .5em;
}

.menu a:hover {
    background-color: #41658A;
    color: #fff;
    padding: .5em;
    border-radius: .5em;
}

.menu__inner {
    background-color: #4C3957 !important;
    color: #fff;
}

.content, .footer {
    background-color: #4C3957 !important;
    color: #fff;
}

.statuslol {
    background-color: #41658A !important;
}

.statuslol p {
    color: #fff !important; 
}

.statuslol a {
    background-color: #79B473;
    margin-top: 20px;
    padding: 10px;
    border-radius: .5em;
    text-decoration: none;
}

.about {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    max-width: 900px;
    background-color: #41658A;
    border-radius: .5em;
}

.about strong {
    color: #fff !important;
}

.now {
    background-color: #41658A;
    min-width: 900px;
    margin-top: 40px;
    border-radius: .5em;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.uses h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    flex-direction: column;
}

.uses {
    background-color: #41658A;
    min-width: 900px;
    margin-top: 40px;
    border-radius: .5em;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.now h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    flex-direction: column;
}

.status {
    background-color: #41658A;
    min-width: 900px;
    max-width: 900px;
    margin-top: 40px;
    border-radius: .5em;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.status h2 {
    margin-top: 20px;
    flex-direction: column;
}

.latest-pic {
    background-color: #41658A;
    min-width: 900px;
    max-width: 900px;
    margin-top: 40px;
    border-radius: .5em;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;

}

.latest-pic img {
    width: 920px;
    border-radius: .5em;
}

.latest-pic h2 {
    margin-top: 20px;
    flex-direction: column;  
}

.latest-track {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;

}

.tiktok {
    background-color: #41658A;
    min-width: 900px;
    max-width: 900px;
    margin-top: 40px;
    border-radius: .5em;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;

}

.tiktok h2 {
    margin-top: 20px;
    flex-direction: column;  
}

.css-ekq38o {
    background-color: #41658A !important;
}

.page-btn {
    background-color: #79B473;
    margin-top: 20px;
    padding: 10px;
    border-radius: .5em;
    text-decoration: none;
}

.page-btn:hover {
    background-color: #414073;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: .5em;
    text-decoration: underline;
}

blockquote {
    border-left: none !important;
}
