{{ define "body" }}
    <body>
{{ end }}

{{ define "main" }}  


    <div class="about">        
        <p><strong>This is the internet homepage of Rich Howell</strong>, I have an interest in all things steam and the railway, welcome to my little corner of the internet, below you can find all my latest projects, what I am up to currently and what I have planned for the future.</p>
    </div>

    <div class="now">
        <h2>What I am Up To</h2>
        <p>Find out what's going on in my life "now"</p>
        <div>
            <a class="page-btn" href="https://now.richonrails.me/">View my now page</a>
        </div>
    </div>

    <div class="uses">
        <h2>What I Use</h2>
        <p>Find out what gadgets, apps and hardware I am using "now"</p>
        <div>
            <a class="page-btn" href="https://richonrails.me/uses/">View my uses</a>
        </div>
    </div>

    <div class="status">
        <h2>Latest Status</h2>
        <script src="https://status.lol/richonrails.js?time&link&fluent&pretty"></script>
        
        <div>
            <a class="page-btn" href="https://status.richonrails.me/">See them all</a>
        </div>

    </div>

    <div class="latest-pic">
        <h2>Latest Photo</h2>
        <script src="https://some.pics/by/richonrails.js?count=1"></script>

        <div>
        <a class="page-btn" href="https://richonrails.some.pics/">View More</a>
        </div>
    </div>

    <div class="tiktok">
        <h2>Latest TikTok Videos</h2>
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@richonrails" data-unique-id="richonrails" data-embed-from="embed_page" data-embed-type="creator" style="max-width: 780px; min-width: 288px;background-color:#41658A;" > <section> <a target="_blank" href="https://www.tiktok.com/@richonrails?refer=creator_embed"></a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
    </div>

    <!-- <script src="https://scripts.hashemian.com/jss/feed.js?print=yes&numlinks=3&summarylen=0&seedate=no&popwin=yes&url=https:%2F%2Frichonrails.blog%2Ffeed%2F"></script> -->

{{ end }}





